<article class="post">
    <div>
        <div class="title">
        <span>{{title}}</span> <span><a>created by:</a>{{user.username}}</span>
        </div>
        <div>
        <span>({{post_body}})</span>
        </div>
    </div>
</article>